/* *{
  margin: 0;
  padding: 0;
  text-decoration:none;
} */

@font-face {
    font-family: CSD;
    src: url(//shadow.elemecdn.com/faas/h5/static/CoreSansD45Medium.6d1ef68.woff2)
        format("woff2"),
      url(//shadow.elemecdn.com/faas/h5/static/CoreSansD45Medium.8d5fed0.woff)
        format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: CSD;
    src: url(//shadow.elemecdn.com/faas/h5/static/CoreSansD25Light.bf1cd3c.woff2)
        format("woff2"),
      url(//shadow.elemecdn.com/faas/h5/static/CoreSansD25Light.b2ba6ff.woff)
        format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: CSD;
    src: url(//shadow.elemecdn.com/faas/h5/static/CoreSansD55Bold.355b433.woff2)
        format("woff2"),
      url(//shadow.elemecdn.com/faas/h5/static/CoreSansD55Bold.42b6f36.woff)
        format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: CSD;
    src: url(//shadow.elemecdn.com/faas/h5/static/CoreSansD35Regular.7430ff2.woff2)
        format("woff2"),
      url(//shadow.elemecdn.com/faas/h5/static/CoreSansD35Regular.67b62bb.woff)
        format("woff");
    font-weight: 400;
    font-style: normal;
  }
  .ps-captcha {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .ps-captcha.is-show {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
  .ps-captcha-dialog {
    width: 85%;
    max-width: 380px;
    padding-top: 15px;
    border-radius: 7px;
    background-color: #fff;
  }
  .ps-captcha.is-show .ps-captcha-dialog {
    -webkit-animation: captchaDialogZoomIn 0.3s ease-in;
    animation: captchaDialogZoomIn 0.3s ease-in;
  }
  .ps-captcha-title {
    padding: 6px 15px 15px;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    color: #000;
  }
  .ps-captcha-content {
    padding: 0 15px 20px;
    font-size: 2vw;
    line-height: 1.5;
  }
  .ps-captcha-input {
    position: relative;
    margin: 0 15px 15px;
    border: 0.013333rem solid #ddd;
    border: 0.133333vw solid #ddd;
  }
  .ps-captcha-input,
  .ps-captcha-input input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ps-captcha-input input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 15px;
    outline: none;
    border: 0;
  }
  .ps-captcha-input img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 40px;
  }
  .ps-captcha-buttons {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    border-top: 0.013333rem solid #ddd;
    border-top: 0.133333vw solid #ddd;
  }
  .ps-captcha-buttons,
  .ps-captcha-buttons a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ps-captcha-buttons a {
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    -webkit-box-flex: 1;
    flex: 1 1;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 42px;
    font-size: 16px;
  }
  .ps-captcha-buttons a:first-child {
    border-right: 0.013333rem solid #ddd;
    border-right: 0.133333vw solid #ddd;
  }
  @-webkit-keyframes captchaDialogZoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  #_ele_nc {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }
  #_ele_nc * {
    outline: none;
    -webkit-tab-highlight-color: transparent;
  }
  #_ele_nc .nc_scale {
    height: 52px;
    -webkit-box-shadow: 0 0 3px #9f9f9f;
    box-shadow: 0 0 3px #9f9f9f;
  }
  #_ele_nc .nc-lang-cnt {
    padding-left: 24px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #_ele_nc .nc_scale .btn_slide {
    width: 52px;
    height: 52px;
    line-height: 50px;
    font-size: 24px;
    color: #dbdbdb;
    border: 0;
  }
  .vw .ps-captcha-dialog {
    max-width: 101.333vw;
    padding-top: 4vw;
    border-radius: 1.867vw;
  }
  .vw .ps-captcha-title {
    padding: 1.6vw 4vw 4vw;
    font-size: 4.8vw;
  }
  .vw .ps-captcha-content {
    padding: 0 4vw 4vw;
    font-size: 4vw;
  }
  .vw .ps-captcha-input {
    margin: 0 4vw 4vw;
  }
  .vw .ps-captcha-input input {
    height: 10.667vw;
    padding: 0 3.2vw;
    font-size: 4vw;
  }
  .vw .ps-captcha-input img {
    height: 10.667vw;
  }
  .vw .ps-captcha-buttons a {
    font-size: 4.267vw;
    height: 11.2vw;
  }
  .vw ._nc {
    font-size: 4.267vw;
  }
  .vw ._nc .icon {
    width: 8vw;
    height: 8vw;
  }
  .vw ._nc .icon-close,
  .vw ._nc .icon-ok,
  .vw ._nc .icon-slide-arrow {
    font-size: 8vw;
  }
  .vw ._nc .icon-load-c {
    font-size: 8vw;
    padding-top: 0.533vw;
  }
  .vw ._nc .icon-notclick,
  .vw ._nc .icon-onclick {
    font-size: 8vw;
  }
  .vw ._nc .stage {
    padding: 0 4vw;
  }
  .vw ._nc .stage1 {
    height: 14.667vw;
  }
  .vw ._nc .stage1 .slider {
    height: 13.867vw;
    -webkit-box-shadow: 0 0 0.8vw #999;
    box-shadow: 0 0 0.8vw #999;
    left: 4vw;
    right: 4vw;
  }
  .vw ._nc .stage1 .label,
  .vw ._nc .stage1 .track div {
    line-height: 13.867vw;
    height: 13.867vw;
    font-size: 4.267vw;
  }
  .vw ._nc .stage1 .button {
    width: 13.867vw;
    height: 13.867vw;
  }
  .vw ._nc .stage1 .icon {
    left: 2.667vw;
  }
  .vw ._nc .stage1 .icon.nc-loading {
    -webkit-animation: _nc_rotate 1s linear infinite;
  }
  .vw ._nc .stage1 .icon.yes {
    background-position: -16vw 0;
  }
  .vw ._nc .stage1 .icon.no {
    background-position: -24vw 0;
  }
  @media only screen and (min-device-width: 640px) and (max-device-height: 1136px) and (-webkit-device-pixel-ratio: 2) {
    .vw ._nc .stage1 .icon {
      bottom: 0.373333rem;
      bottom: 3.733333vw;
    }
  }
  .vw ._nc .stage1 .click2slider {
    -webkit-box-shadow: 0 0 0.8vw #999;
    box-shadow: 0 0 0.8vw #999;
    border-radius: 1.067vw;
    height: 14.667vw;
  }
  .vw ._nc .stage1 .click2slider .click2slide-btn {
    width: 13.867vw;
    height: 13.867vw;
  }
  .vw ._nc .stage1 .click2slider .click2slider-label {
    line-height: 13.867vw;
    height: 13.867vw;
    font-size: 4.267vw;
  }
  .vw
    ._nc
    .stage1
    .click2slider
    .click2slider-label
    .nc-iconfont.icon-left-triangle {
    left: -2.667vw;
  }
  .vw ._nc .stage1 .click2slider .slider-holder {
    height: 13.867vw;
    margin-left: 10.667vw;
  }
  .vw ._nc .stage1 .click2slider .slider-holder .button,
  .vw ._nc .stage1 .click2slider .slider-holder .label,
  .vw ._nc .stage1 .click2slider .slider-holder .slider {
    height: 11.467vw;
  }
  .vw ._nc .stage1 .click2slider .slider-holder .button {
    width: 11.467vw;
  }
  .vw ._nc .stage1 .click2slider .slider-holder .button .icon {
    left: 1.6vw;
  }
  .vw ._nc .stage1 .click2slider .slider-holder .label {
    line-height: 11.467vw;
  }
  .vw ._nc .stage1 .click2slider .slider-holder .bg-green,
  .vw ._nc .stage1 .click2slider .slider-holder .bg-red {
    line-height: 11.467vw;
    height: 11.467vw;
  }
  .vw ._nc .stage2 .textbox {
    height: 13.867vw;
    border-radius: 1.6vw;
  }
  .vw ._nc .stage2 .textbox .input {
    left: 13.333vw;
    top: 1.6vw;
    width: 37.333vw;
    height: 10.667vw;
    font-size: 4.8vw;
  }
  .vw ._nc .stage2 .textbox .placeholder {
    left: 13.867vw;
    top: 3.733vw;
    font-size: 4.8vw;
  }
  .vw ._nc .stage2 .textbox .code {
    right: 13.333vw;
    top: 3.2vw;
  }
  .vw ._nc .stage2 .icon {
    top: 2.933vw;
    font-size: 8vw;
  }
  .vw ._nc .stage2 .icon.tip {
    left: 2.667vw;
  }
  .vw ._nc .stage2 .icon.clear {
    left: 32.533vw;
  }
  .vw ._nc .stage2 .icon.refresh {
    right: 2.933vw;
  }
  @media only screen and (min-device-width: 640px) and (max-device-height: 1136px) and (-webkit-device-pixel-ratio: 2) {
    .vw ._nc .stage2 .icon {
      top: 0.106667rem;
      top: 1.066667vw;
    }
  }
  .vw ._nc .stage2 .btn-ok,
  .vw ._nc .stage2 .tips {
    height: 12.267vw;
    margin-top: 4.8vw;
    border-radius: 1.333vw;
    font-size: 5.333vw;
  }
  .vw ._nc .stage2 .tips {
    line-height: 12.267vw;
  }
  .vw ._nc .stage3 {
    height: 40vw;
  }
  .vw ._nc .stage3 .title {
    font-size: 5.333vw;
    margin: 10.667vw 0 5.333vw;
    color: #000;
  }
  .vw ._nc .stage3 .menu .label {
    font-size: 4.267vw;
    height: 8.533vw;
    line-height: 8.533vw;
    top: -2.133vw;
  }
  .vw ._nc .stage3 .menu .icon {
    margin-right: 2.667vw;
    font-size: 8vw;
  }
  .vw ._nc .stage3 .menu.refresh .icon {
    background-position: -32vw 0;
  }
  .vw ._nc .stage3 .menu.feedback .icon {
    background-position: -40vw 0;
  }
  .vw ._nc .stage3 .menu.nc-sep {
    height: 8.533vw;
  }
  .vw .nc-h5-overlay {
    font-size: 4.267vw;
  }
  .vw .nc-h5-overlay div.info {
    padding: 4vw 2.667vw;
  }
  .vw ._nc.nc-h5-overlay .stage2.stage div.ope {
    padding: 0 4vw;
  }

  html {
    background-color: #f5f5f5;
  }
  .orderbody[data-v-1ec2d114] {
    margin-bottom: 0.266667rem;
    margin-bottom: 2.666667vw;
  }
  .orderbody-bottom[data-v-1ec2d114] {
    padding: 0.2rem 0;
    padding: 2vw 0;
  }
  .orderbody-bottom .empty[data-v-1ec2d114],
  .orderbody-bottom .limited[data-v-1ec2d114],
  .orderbody-bottom .loading[data-v-1ec2d114] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #999;
  }
  .orderbody-bottom .limited-svg[data-v-1ec2d114] {
    margin-left: 0.133333rem;
    margin-left: 1.333333vw;
    width: 0.133333rem;
    width: 1.333333vw;
    height: 0.186667rem;
    height: 1.866667vw;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .orderbody-bottom .loading-svg[data-v-1ec2d114] {
    width: 0.453333rem;
    width: 4.533333vw;
    height: 0.453333rem;
    height: 4.533333vw;
    -webkit-animation: loading-data-v-1ec2d114 2s linear infinite;
    animation: loading-data-v-1ec2d114 2s linear infinite;
  }
  .nodatatipWrap[data-v-1ec2d114] {
    margin-top: 2.666667rem;
    margin-top: 26.666667vw;
  }
  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }
  @keyframes loading-data-v-1ec2d114 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }
  .ordercard[data-v-54bf175d] {
    display: block;
    margin-top: .266667rem;
    margin-top: 2.666667vw;
    background-color: #fff;
    padding: .373333rem 0 0 .4rem;
    padding: 3.733333vw 0 0 4vw;
  }
  .ordercard .ordercard-bottom[data-v-54bf175d] {
    border-top: 1px solid #eee;
    padding: 0.266667rem 0.426667rem;
    padding: 2.666667vw 4.266667vw;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .ordercard .ordercard-body[data-v-54bf175d],
  .ordercard .ordercard-bottom[data-v-54bf175d] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .ordercard .takeicon[data-v-54bf175d] {
    position: absolute;
    right: 0.266667rem;
    right: 2.666667vw;
    bottom: 0;
    font-size: 0.266667rem;
    background-color: #008bff;
    color: #fff;
    border-top-left-radius: 0.053333rem;
    border-top-left-radius: 0.533333vw;
    border-bottom-right-radius: 0.053333rem;
    border-bottom-right-radius: 0.533333vw;
    border: 1px solid #eee;
  }
  .ordercard .ordercard-avatar[data-v-54bf175d] {
    position: relative;
    padding-right: 0.266667rem;
    padding-right: 2.666667vw;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: 0.853333rem;
    height: 8.533333vw;
  }
  .ordercard .ordercard-logo[data-v-54bf175d] {
    border-radius: 0.053333rem;
    border-radius: 0.533333vw;
    border: 1px solid #eee;
    width: 0.853333rem;
    width: 8.533333vw;
    height: 0.853333rem;
    height: 8.533333vw;
  }
  .ordercard .ordercard-content[data-v-54bf175d] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .ordercard .ordercard-head[data-v-54bf175d] {
    border-bottom: 1px solid #eee;
    padding-right: 0.346667rem;
    padding-right: 3.466667vw;
    padding-bottom: 0.266667rem;
    padding-bottom: 2.666667vw;
  }
  .ordercard .ordercard-head .title[data-v-54bf175d] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #000;
  }
  .ordercard .ordercard-head .name[data-v-54bf175d],
  .ordercard .ordercard-head .title[data-v-54bf175d] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
  }
  .ordercard .ordercard-head .name[data-v-54bf175d] {
    font-size: 0.426667rem;
    line-height: 1.5em;
    color: #000;
  }
  .ordercard .ordercard-head .name .content[data-v-54bf175d] {
    display: inline-block;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ordercard .ordercard-head .name svg[data-v-54bf175d] {
    margin-left: 0.133333rem;
    margin-left: 1.333333vw;
    width: 0.133333rem;
    width: 1.333333vw;
    height: 0.186667rem;
    height: 1.866667vw;
  }
  .ordercard .ordercard-head .status[data-v-54bf175d] {
    font-size: .346667rem;
    text-align: right;
    color: #333;
    max-width: 14em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }
  .ordercard .ordercard-head .datetime[data-v-54bf175d] {
    font-size: 0.293333rem;
    color: #999;
    margin: 0;
    text-align: left;

  }
  .ordercard .ordercard-detail[data-v-54bf175d] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 0.346667rem 0.4rem 0;
    padding: 4vw 3.466667vw 4vw 0;
  }
  .ordercard .ordercard-detail .detail[data-v-54bf175d] {
    font-size: 0.346667rem;
    color: #666;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ordercard .ordercard-detail .productname[data-v-54bf175d] {
    display: inline-block;
    max-width: 6.133333rem;
    max-width: 61.333333vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 4.266667rem;
    max-width: 42.666667vw;
  }
  .ordercard .ordercard-detail .price[data-v-54bf175d] {
    -webkit-flex-basis: 1.6rem;
    -webkit-flex-basis: 16vw;
    -ms-flex-preferred-size: 1.6rem;
    -ms-flex-preferred-size: 16vw;
    flex-basis: 1.6rem;
    flex-basis: 16vw;
    text-align: right;
    font-size: 0.346667rem;
    color: #333;
    font-weight: 700;
    
  }
  .ordercard .cardbutton[data-v-54bf175d] {
    padding: 0.133333rem 0.266667rem;
    padding: 1.333333vw 2.666667vw;
    border: 1px solid #2395ff;
    border-radius: 0.053333rem;
    border-radius: 0.533333vw;
    background-color: transparent;
    outline: none;
    font-size: 0.346667rem;
    color: #2395ff;
    margin-left: 0.2rem;
    margin-left: 2vw;
  }
  .ordercard .cardbutton.alert[data-v-54bf175d] {
    color: #ff5339;
    border-color: #ff5339;
  }
  .loading-card-38D4q_0 {
    margin: 0.266667rem 0;
    margin: 2.666667vw 0;
    width: 10rem;
    width: 100vw;
    height: 4.333333rem;
    height: 43.333333vw;
    vertical-align: middle;
  }